.loginPassword{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.loginButton{
  margin-bottom: 1.75rem;
}

.loginEmail{
  margin-top: 1rem;
}

.signupPasswords{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.modalFooter{
  width: 100%;
  display: flex;
  justify-content: center;
  
}

.modalFooterStatment{
  margin-left: auto;
  margin-right: auto;
}

.modalFooterButtonLogin{
  margin-top: -1rem;
  margin-left: 3.25rem;
}

.modalFooterButtonSignup{
  margin-top: -1rem;
  margin-left: 2.5rem;
}

.errorMessage{
  color: red;
  font-weight: bold;
  border: 1px solid red;
  text-align: center;
}