.loginPassword{
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.loginButton{
  margin-bottom: 2.25rem;
}

.loginEmail{
  margin-top: 1rem;
}

.signupPasswords{
  margin-top: 1rem;
  margin-bottom: 1rem;
}