.card{
  width: 30rem;
  height: 20rem;
  position: relative;
  border: 3px solid black;
  background-color: black;
  margin-right: auto;
  margin-left: auto;
}

.title{
  z-index: 1;
  position: relative;
  color: white;
}

.description{
  z-index: 1;
  position: relative;
  color: white;
}

.image{
  z-index: 0;
  opacity: 0.5;
}

.card:hover .image{
  opacity: 1;
}



@media only screen and (max-width: 1200px) {
  .card  {
    width: 20rem;
    height: 12rem;
  }
}

@media only screen and (max-width: 760px) {
  .card  {
    width: 10rem;
    height: 8rem;
  }
}