.frame{
  font-family: 'Lobster', cursive;
  
}

.brand{
  font-family: 'Lobster', cursive;
  font-size: xx-large;
  margin-left: 1rem;
  color: yellow;
}

.nav{
  width: 100%;
  display: flex;
}

.button {
  margin-left: 2rem;
  font-weight: bold;
  margin-right: 2rem;
}

.accountButtons{
  margin-right: 5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.buttonBlackJack{
  margin-left: 7rem;
}

.buttonThreeCard{
  margin-left: 7rem;
  color: rgb(79, 251, 243);
  border-color: rgb(79, 251, 243);
}
.buttonThreeCard:hover{
  background-color: rgb(80, 225, 218);
  border-color: rgb(79, 251, 243);
  color: black;
}

.buttonRoulette{
  margin-left: 7rem;
  color: red;
  border-color: red;
}

.buttonSnailRace{
  margin-left: 7rem;
  color: rgb(7, 167, 7);
  border-color: rgb(7, 167, 7);
}

@media only screen and (max-width: 1700px) {
  .buttonBlackJack{
    margin-left: 4rem;
  }
  
  .buttonThreeCard{
    margin-left: 4rem;
  }
  
  .buttonRoulette{
    margin-left: 4rem;
  }
  
  .buttonSnailRace{
    margin-left: 4rem;
  }
}

@media only screen and (max-width: 1400px) {
  .button {
    margin-left: 0rem;
    margin-right: 1rem;
  }
  
  .accountButtons{
    margin-right: 2rem;
  }

  .buttonBlackJack{
    margin-left: 2rem;
  }
  
  .buttonThreeCard{
    margin-left: 2rem;
  }
  
  .buttonRoulette{
    margin-left: 2rem;
  }
  
  .buttonSnailRace{
    margin-left: 2rem;
  }
}

@media only screen and (max-width: 1200px) {
  .button {
    margin-left: 0rem;
    margin-right: 1rem;
  }
  
  .accountButtons{
    margin-right: 2rem;
  }
  
  .buttonBlackJack{
    margin-left: 0rem;
  }
  
  .buttonThreeCard{
    margin-left: 0rem;
  }
  
  .buttonRoulette{
    margin-left: 0rem;
  }
  
  .buttonSnailRace{
    margin-left: 0rem;
  }
  
}
