.frame{
  background-color: rgb(255, 255, 255);
  padding: 1rem;
}

.button {
  margin-left: 2rem;
  margin-right: 2rem;
}

/* .navbarToggle{
  background-color: rgb(221, 241, 0);
}

.offCanvas{
  background-color: rgb(33,37,41);
  
} */